<!--noindex-->
  <noscript>
  <div class="alert is-warning is-global" role="alert">
    <p>
      <svg class="icon" focusable="false" aria-hidden="true">
        <use xlink:href="{{ site.assets }}/img/icons/sprite.svg#icon-warning"></use>
      </svg>
      JavaScript is currently disabled. The site requires JavaScript to function correctly. Please <a href="http://enable-javascript.com/" target="_blank" rel="noopener noreferrer nofollow">enable Javascript in your browser</a>.
    </p>
  </div>
</noscript>
<!--/noindex-->
